<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tims.core.image.mapper.FileStoreMapper">
    <insert id="saveFileStore" parameterType="com.tims.facade.domain.FileStore">
        insert into file_store(
        id,
        bill_id,
        file_name,
        bill_no,
        bill_type,
        file_path,
        file_size,
        user_code,
        url,
        is_delete,
        is_folder,
        create_time)
        values(
        #{id},
        #{billId},
        #{imageName},
        #{billNo},
        #{billType},
        #{filePath},
        #{fileSize},
        #{userCode},
        #{url},
        #{isDelete},
        #{isFolder},
        #{createTime}
        )
    </insert>

    <select id="queryFileStore" parameterType="com.tims.facade.dfs.qo.UploadQo" resultType="com.tims.facade.domain.FileStore">
      select
        id id,
        bill_id billId,
        file_name imageName,
        bill_no billNo,
        bill_type billType,
        file_path filePath,
        is_folder isFolder,
        url url
      from file_store where 1=1 and is_delete='0'
      <if test="uploadQo.billNo!=null and uploadQo.billNo!=''">
          and bill_no=#{uploadQo.billNo}
      </if>
      <if test="uploadQo.billId!=null and uploadQo.billId!=''">
          and bill_id=#{uploadQo.billId}
      </if>
      <if test="uploadQo.billType!=null and uploadQo.billType!=''">
          and bill_type=#{uploadQo.billType}
      </if>
      <if test="uploadQo.path!=null and uploadQo.path!=''">
          and file_path=#{uploadQo.path}
      </if>
      <if test="uploadQo.imageName!=null and uploadQo.imageName!=''">
          and file_name=#{uploadQo.imageName}
      </if>
    </select>

    <select id="queryFileList" resultType="com.tims.facade.domain.FileStore">
        select
        bill_id billId,
        file_name imageName,
        bill_no billNo,
        bill_type billType,
        file_path filePath,
        url url,
        create_time createTime
        from file_store where 1=1 and is_delete='0'
        <if test="fileStore.billNo!=null and fileStore.billNo!=''">
            and bill_no=#{fileStore.billNo}
        </if>
        <if test="fileStore.billId!=null and fileStore.billId!=''">
            and bill_id=#{fileStore.billId}
        </if>
        <if test="fileStore.billType!=null and fileStore.billType!=''">
            and bill_type=#{fileStore.billType}
        </if>
        <if test="fileStore.filePath!=null and fileStore.filePath!=''">
            and file_path=#{fileStore.filePath}
        </if>
        <if test="fileStore.imageName!=null and fileStore.imageName!=''">
            and file_name=#{fileStore.imageName}
        </if>
        order by create_time desc
    </select>

    <update id="deleteFileInfoByPath" parameterType="string" >
        update file_store  set  is_delete="1"  where  file_path=#{filePath}
    </update>
    <select id="queryFileStoreByPath" parameterType="string" resultType="com.tims.facade.domain.FileStore">
        select  bill_id billId,
        file_name imageName,
        bill_no billNo,
        bill_type billType,
        file_path filePath,
        url url,
        create_time createTime from  file_store where  file_path=#{path} and is_delete='0'
    </select>
</mapper>