<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tims.core.image.mapper.FileStoreMapper">
    <insert id="saveFileStore" parameterType="com.tims.facade.domain.FileStore">
        insert into file_store(
        id,
        bill_id,
        file_name,
        bill_no,
        bill_type,
        file_path,
        file_size,
        user_code,
        url,
        is_delete,
        is_folder,
        create_time)
        values(
        #{id},
        #{billId},
        #{imageName},
        #{billNo},
        #{billType},
        #{filePath},
        #{fileSize},
        #{userCode},
        #{url},
        #{isDelete},
        #{isFolder},
        #{createTime}
        )
    </insert>

    <select id="queryFileStore" parameterType="com.tims.facade.dfs.qo.UploadQo" resultType="com.tims.facade.domain.FileStore">
      select
        bill_id billId,
        file_name imageName,
        bill_no billNo,
        bill_type billType,
        file_path filePath,
        url url
      from file_store where 1=1
      <if test="uploadQo.billNo!=null and uploadQo.billNo!=''">
          and bill_no=#{uploadQo.billNo}
      </if>
      <if test="uploadQo.billId!=null and uploadQo.billId!=''">
          and bill_id=#{uploadQo.billId}
      </if>
      <if test="uploadQo.path!=null and uploadQo.path!=''">
          and file_path=#{uploadQo.path}
      </if>
    </select>

</mapper>