<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/common-error.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/common-error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- 30 days -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--Core相关日志-->
    <appender name="tims-core" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/tims-core.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/tc-core.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- 30 days -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com.tims.core" level="${logging.level}">
        <appender-ref ref="tims-core" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
    </root>


    <!-- mybatis日志打印 -->
    <logger name="com.ibatis" level="${logging.level}"/>
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="${logging.level}"/>
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="${logging.level}"/>
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="${logging.level}"/>

    <logger name="java.sql.Connection" level="${logging.level}"/>
    <logger name="java.sql.Statement" level="${logging.level}"/>
    <logger name="java.sql.PreparedStatement" level="${logging.level}"/>
</configuration>